# ---------------------
# Node.js / TypeScript (CDK)
# ---------------------
infrastructure/node_modules/
infrastructure/package-lock.json
*.tsbuildinfo

# CDK context & outputs
cdk.out/
cdk.context.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# ---------------------
# Python (Lambdas)
# ---------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
.Python
.venv/
venv/
env/
build/
dist/

# ---------------------
# Web UI (Frontend)
# ---------------------
web-ui/node_modules/
web-ui/dist/
web-ui/build/
web-ui/.cache/

# ---------------------
# Logs
# ---------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------
# IDEs / Edito
